<div class="col-md-6 offset-md-3">
  <h3>Update Post Details</h3>
  <form (ngSubmit)="onSubmit()" name="form" #registerForm="ngForm">

    <!-- <div class="form-group">
      <label>Post type:</label>
      <input type="text" id="type" class="form-control" [(ngModel)]="form.type" name="type">
    </div> -->
    <div class="form-group">
      <label>Post by:</label>
      <input type="text" id="user" class="form-control" value="{{post.user?.userName}}" name="user" disabled>
    </div>
    <div class="form-group">
      <label>Post views:</label>
      <input type="text" id="userPassword" class="form-control" [(ngModel)]="post.views" name="views" disabled="">
    </div>
    <div>
      <label>Post type:</label>
      <select [(ngModel)]='post.type' name="dropdownOption" id="dropdownOption" class='form-control' (change)="clear()">
        <option value="image">Image</option>
        <option value="video">Video</option>
        <option value="hyperlink">Hyperlink</option>
      </select>
    </div>
    <div class="form-group" *ngIf=" post.type === 'hyperlink'">
      <label>Post link:</label>
      <input type="text" id="link" class="form-control" [(ngModel)]="post.link" name="link" minlength="5" maxlength="120">
    </div>
    <div class="form-group" *ngIf=" post.type === 'image'">
      <label>Choose media: {{post.type}}</label>
      <input type="file" id="media" class="form-control" (change)="onFileSelected($event)" name="media" accept="image/x-png,image/gif,image/jpeg">
    </div>
    <div class="form-group" *ngIf=" post.type === 'video'">
      <label>Choose media: {{post.type}}</label>
      <input type="file" id="media" class="form-control" (change)="onFileSelected($event)" name="media" accept="video/mp4,video/x-m4v,video/*">
    </div>
    <div class="form-group">
      <label>Post caption:</label>
      <textarea type="text" id="caption" class="form-control" [(ngModel)]="post.caption" name="caption" minlength="5" maxlength="120" required="true"></textarea>
    </div>
    <!-- <div id="post-preview">
      <img id="post-preview-image">
    </div> -->
    <button [disabled]="registerForm.form.invalid || (post.type==='hyperlink' && post.link.trim().length===0) " class="btn btn-success" type="submit">Update Post
    </button>
  </form>
</div>
