<div class="container">
  <div class="card text-center" style="color: green; padding:20px">
    <h1>You are Admin</h1>
    <div class="card-body">
      <table border="1px" class="table">
        <thead>
          <th>No.</th>
          <th>User Name</th>
          <th>Frist Name</th>
          <th>Last Name</th>
          <th>Role</th>
          <th>Actions</th>
        </thead>
        <tbody>
          <tr *ngFor="let user of users; index as i">
            <td>{{i + 1}}</td>
            <td>{{user.userName}}</td>
            <td>{{user.userFirstName}}</td>
            <td>{{user.userLastName}}</td>
            <td>{{user.role[0].roleName}}</td>

            <td>
              <button (click)="updateUser(user.userName)" class="btn btn-info" style="margin-right: 5px;">
                Update User
              </button>
              <button (click)="deleteUser(user.userName)" class="btn btn-info">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
