<p>update-user works!</p>
<div class="col-md-6 offset-md-3">
  <div *ngIf="isUserRole(user); else elseBlock">
    <h3>Update User Details</h3>
  </div>

  <ng-template #elseBlock>
    <h3>Update Admin Details</h3>
  </ng-template>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>User Name:</label>
      <input type="text" id="userName" class="form-control" [(ngModel)]="user.userName" name="userName" readonly>
    </div>
    <div class="form-group">
      <label>Role:</label>
      <input type="text" id="role" class="form-control" [(ngModel)]="uerRole" name="role" readonly>
    </div>
    <div class="form-group">
      <label>First Name:</label>
      <input type="text" id="userFirstName" class="form-control" [(ngModel)]="user.userFirstName" name="userFirstName">
    </div>
    <div class="form-group">
      <label>Last Name:</label>
      <input type="text" id="userLastName" class="form-control" [(ngModel)]="user.userLastName" name="userLastName">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="text" id="userPassword" class="form-control" [(ngModel)]="user.userPassword" name="userPassword">
    </div>
    <div *ngIf="isUserRole(user); else elseButtonBlock">
      <button class="btn btn-success" type="submit">Update User
      </button>
    </div>
    <ng-template #elseButtonBlock>
      <button class="btn btn-success" type="submit">Update Admin
      </button>
    </ng-template>
  </form>
</div>
