<p>update-user works!</p>
<div class="col-md-6 offset-md-3">
  <h3>Update User details</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>User Name:</label>
      <input type="text" id="userName" class="form-control" [(ngModel)]="user.userName" name="userName" readonly>
    </div>
    <div class="form-group">
      <label>First Name:</label>
      <input type="text" id="userFirstName" class="form-control" [(ngModel)]="user.userFirstName" name="userFirstName">
    </div>
    <div class="form-group">
      <label>Last Name:</label>
      <input type="text" id="userLastName" class="form-control" [(ngModel)]="user.userLastName" name="userLastName">
    </div>
    <div class="form-group">
      <label>Password:</label>
      <input type="text" id="userPassword" class="form-control" [(ngModel)]="user.userPassword" name="userPassword">
    </div>
    <button class="btn btn-success" type="submit">Update User</button>
  </form>
</div>
