<p>hyperlink-post works!</p>
<!-- <vg-player>
  <video #media [vgMedia]="media" id="singleVideo" preload="auto" controls>
    <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4">
    <source src="http://static.videogular.com/assets/videos/videogular.ogg" type="video/ogg">
    <source src="http://static.videogular.com/assets/videos/videogular.webm" type="video/webm">
  </video>
</vg-player> -->

<div class="card text-center post" (click)='increaseView(post.id)' *ngIf="post !==null">
  <ul class="post-ul">
    <!-- <li>{{i + 1}}</li> -->
    <li class="post-caption">{{post.caption}}</li>
    <li class="post-caption">{{post.createdDate}}</li>
    <!-- <li>{{post.type}}</li> -->
    <li><iframe width="560" height="315" [src]='link' frameborder="0" allowfullscreen
        ng-show="showvideo"></iframe></li>
    <li></li>
    <li>Views: {{post.views}}</li>
    <li>By: {{post.user?.userName}}</li>
    <li>
      <button (click)="updatePost(post.id)" class="btn btn-info" style="margin-right: 5px;"
        *ngIf="matchRole(['Admin']) || (getUserName()===post.user?.userName)">
        Update Post
      </button>
      <button (click)="deletePost(post.id)" class="btn btn-info" *ngIf="matchRole(['Admin', 'User'])">
        Delete
      </button>
    </li>
  </ul>
</div>
