<p>create-form.works!</p>
<div class="col-md-6 offset-md-3">
  <h3>Creat a new Post</h3>
  <form (ngSubmit)="create(registerForm)" name="form" #registerForm="ngForm">
    <div class="form-group">
      <label>Post caption:</label>
      <input type="text" id="caption" class="form-control" [(ngModel)]="form.caption" name="caption">
    </div>
    <div class="form-group">
      <label>Post type:</label>
      <input type="text" id="type" class="form-control" [(ngModel)]="form.type" name="type">
    </div>
    <div class="form-group">
      <label>Post link:</label>
      <input type="text" id="link" class="form-control" [(ngModel)]="form.link" name="link">
    </div>
    <div class="form-group">
      <label>Choose media:</label>
      <input type="file" id="media" class="form-control" (change)="onImageSelected($event)" name="media">
    </div>
    <div id="post-preview">
      <img id="post-preview-image">
    </div>
    <button class="btn btn-success" type="submit">Update Post
    </button>
  </form>
</div>
